html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
	background-position: center top;
	background-size: cover;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	color: rgb(231, 237, 203);
	font-size: 56px;
}

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
	font-size: 2rem;
}

nav ul {
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
	position: relative;
  background-color: black;
  color: white;
  font-size: 20px;
}

.contact-btn a:active {
	top: 2px;
}


.hero {
	background-image: url('My photo.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 0;
	text-shadow: 0 2px #000000;
	text-align: center;
	font-family: 'Trebuchet MS', 'Helvetica';
}

p {
	color: rgb(231, 237, 203);
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
